In [1]:
33+2*4+5+3**3-7-(4*9)-8/2*6+8-3-(7*3)+18/4+7*6   #first pemdas

36.5

In [2]:
4+12*34-8+9/3*8-3**(2*4)-40*7+8/2+7-(7*8)*6+9-6  #second pemdas

-6735.0

In [3]:
a='PaKisTan ziNdaBad'    #Converts first character to Capital Letter
a.capitalize()

'Pakistan zindabad'

In [4]:
a='PaKisTan ziNdaBad'    #converts to casefolded strings
a.casefold()

'pakistan zindabad'

In [5]:
a='PaKisTan ziNdaBad'    #Pads string with specified character
a.center(20,'$')

'$PaKisTan ziNdaBad$$'

In [6]:
a='PaKisTan ziNdaBad'    #returns occurrences of substring in string
a.count('a')

4

In [7]:
a='PaKisTan ziNdaBad'    #returns encoded string of given string
a.encode()

b'PaKisTan ziNdaBad'

In [8]:
a='PaKisTan ziNdaBad'    #Checks if String Ends with the Specified Suffix
a.endswith('d')

True

In [9]:
b='pakistan\tzindabad'   #Replaces Tab character With Spaces
b.expandtabs(5)

'pakistan  zindabad'

In [10]:
a='PaKisTan ziNdaBad'   #Returns the index of first occurrence of substring
a.find('n')

7

In [11]:
c='My name is {}'          #formats string into nicer output
print(c.format('nabeel'))

My name is nabeel

In [12]:
a='my name is {} and i am {} year old'   
b='Nabeel'
c=19
print(a.format(b,c))

my name is Nabeel and i am 19 year old

In [13]:
a={'h':'nabeel','i':'19'}                   #Formats the String Using Dictionary
b='my name is {h} and i am {i} years old'
print(b.format_map(a))

my name is nabeel and i am 19 years old

In [14]:
a='PaKisTan ziNdaBad'    #Returns Index of Substring
a.index('N')

11

In [15]:
a='PaKisTan ziNdaBad'    #Checks Alphanumeric Character
b='pak3st7n z8nda7ad'
c='pa9atsn7802nsjh'
d='1213143'
print(a.isalnum())
print(b.isalnum())
print(c.isalnum())
print(d.isalnum())

False
False
True
True

In [16]:
a='PaKisTanziNdaBad'      #Checks if All Characters are Alphabets
b='PaKisTan ziNdaBad'
c='pa9atsn7802nsjh'
print(a.isalpha())
print(b.isalpha())
print(c.isalpha())

True
False
False

In [17]:
a='PaKisTan ziNdaBad'    
b='pakistan'
print(a.isascii())
print(b.isascii())

True
True

In [18]:
a='PaKisTan ziNdaBad'    #Checks Decimal Characters
b='123456'
print(a.isdecimal())
print(b.isdecimal())

False
True

In [19]:
a='PaKisTan ziNdaBad'     #Checks Digit Characters
print(a.isdigit())
b='123456'
print(b.isdecimal())

False
True

In [20]:
a='PaKisTan ziNdaBad'      #Checks for Valid Identifier
b='nab123'
c='pakistanzindabad'
print(a.isidentifier())
print(b.isidentifier())
print(c.isidentifier())

False
True
True

In [21]:
a='PaKisTan ziNdaBad'      #Checks if all Alphabets in a String are Lowercase
b='nab123'
c='pakistanzindabad'
print(a.islower())
print(b.islower())
print(c.islower())

False
True
True

In [22]:
a='PaKisTan ziNdaBad'      #Checks Numeric Characters
b='/nab123'
c='12345'
print(a.isnumeric())
print(b.isnumeric())
print(c.isnumeric())

False
False
True

In [23]:
a='PaKisTan ziNdaBad'      #Checks Printable Character
b='nab123'
c='pakistanzindabad'
print(a.isprintable())
print(b.isprintable())
print(c.isprintable())

True
True
True

In [24]:
a='PaKisTan ziNdaBad'    #Checks Whitespace Characters
b=' \t '
c='pakistanzindabad'
print(a.isspace())
print(b.isspace())
print(c.isspace())

False
True
False

In [25]:
a='PaKisTan ZiNdaBad'     #Checks for Titlecased String
b='Nab123'
c='Pakistan Zindabad'
print(a.istitle())
print(b.istitle())
print(c.istitle())

False
True
True

In [26]:
a='PaKisTan ziNdaBad'       #returns if all characters are uppercase characters
b='NAB123'
c='PAKISTAN'
print(a.isupper())
print(b.isupper())
print(c.isupper())

False
True
True

In [27]:
a='PaKisTan'        #Returns a Concatenated String
b='123'
print(a.join(b))

1PaKisTan2PaKisTan3

In [28]:
a='PaKisTan '            #returns left-justified string of given width
print(a.ljust(17,'c'))

PaKisTan cccccccc

In [29]:
a='PaKisTan ziNdaBad'       #returns a translation table
c='pakistan zindabad'
print(a.maketrans(a,c))

{80: 112, 97: 97, 75: 107, 105: 105, 115: 115, 84: 116, 110: 110, 32: 32, 122: 122, 78: 110, 100: 100, 66: 98}

In [30]:
a='PaKisTan ziNdaBad'       #Returns a Tuple
b='nab123'
c='pakistanzindabad'
print(a.partition('a'))
print(b.partition('1'))
print(c.partition('zind'))

('P', 'a', 'KisTan ziNdaBad')
('nab', '1', '23')
('pakistan', 'zind', 'abad')

In [31]:
a='PaKisTan ziNdaBad'        #Replaces Substring Inside
print(a.replace('a','44'))

P44KisT44n ziNd44B44d

In [32]:
a='PaKisTan ziNdaBad'       #Returns the Highest Index of Substring
b='nab123'
c='pakistanzindabad'
print(a.rfind('a'))
print(b.rfind('2'))
print(c.rfind('n'))

15
4
10

In [33]:
a='PaKisTan ziNdaBad'      #Returns Highest Index of Substring
b='nab123'
c='pakistanzindabad'
print(a.rindex('a'))
print(b.rindex('3'))

15
5

In [34]:
a='PaKisTan'               #returns right-justified string of given width
print(a.rjust(18,'p'))

ppppppppppPaKisTan

In [35]:
a='PaKisTan ziNdaBad'       #Returns a Tuple
b='nab123'
print(a.rpartition('a'))
print(b.rpartition('b'))

('PaKisTan ziNdaB', 'a', 'd')
('na', 'b', '123')

In [36]:
a='PaKisTan ziNdaBad'        #Splits String From Right
b='nab123'
print(a.rsplit())
print(b.rsplit('3'))

['PaKisTan', 'ziNdaBad']
['nab12', '']

In [37]:
a='PaKisTan ziNdaBad'      #Removes Trailing Characters
b='nab123'
print(a.rstrip('Nda'))
print(b.rstrip('n2'))

PaKisTan ziNdaB
nab123

In [38]:
a='PaKisTan ziNdaBad'         #Splits String from Left
b='nab123'
print(a.split())
print(b.split('1'))

['PaKisTan', 'ziNdaBad']
['nab', '23']

In [39]:
a='PaKisTan\u2028ziNdaBad'      #Splits String at Line Boundaries
print(a.splitlines())

['PaKisTan', 'ziNdaBad']

In [40]:
a='PaKisTan ziNdaBad'          #Checks if String Starts with the Specified String
b='nab123'
print(a.startswith('pa'))
print(b.startswith('na'))

False
True

In [41]:
a='PaKisTan ziNdaBad'        #Removes Both Leading and Trailing Characters
b='nab123'
print(a.strip('Pad'))
print(b.strip('n3'))

KisTan ziNdaB
ab12

In [42]:
a='PaKisTan ziNdaBad'      #swap uppercase characters to lowercase; vice versa
b='nab123'
print(a.swapcase())
print(b.swapcase())

pAkIStAN ZInDAbAD
NAB123

In [43]:
a='PaKisTan ziNdaBad'       #Returns a Title Cased String
b='nab123'
print(a.title())
print(b.title())

Pakistan Zindabad
Nab123

In [44]:
a='PaKisTan ziNdaBad'       #returns mapped charactered string
b='nab12345678924pka'
c=a.maketrans(a,b)
print(a.translate(c))

nkb823k56789akpka

In [45]:
a='PaKisTan ziNdaBad'       #returns uppercased string
b='nab123'
print(a.upper())
print(b.upper())

PAKISTAN ZINDABAD
NAB123

In [46]:
a='PaKisTan ziNdaBad'   #Returns a Copy of The String Padded With Zeros
b='nab123'
print(a.zfill(20))
print(b.zfill(15))

000PaKisTan ziNdaBad
000000000nab123